services:
  satisfactory-server:
    container_name: 'satisfactory-server'
    hostname: 'satisfactory-server'
    image: 'wolveix/satisfactory-server:latest'
    ports:
      - '7777:7777/tcp'
      - '7777:7777/udp'
      - '8888:8888/tcp'
    volumes:
      - '/mnt/pve/MainMirror/direct_mount/satisfactory:/config'
    environment:
      - MAXPLAYERS=8
      - PGID=1000
      - PUID=1000
      - STEAMBETA=false
      - AUTOSAVENUM=10
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 16G
        reservations:
          memory: 4G
  dl-web:
    image: ghcr.io/small2space/http-download-list:latest
    volumes:
     - '/mnt/pve/MainMirror/direct_mount/satisfactory/saved/server:/var/www/html/list'
    ports:
     - "8880:80"
